body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FCF6F5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.topDoc {
  margin-top: 20px;
  margin-bottom: 20px;
}

.appbar {
  background-color: #990011;
}

#mainImg {
  display: block;
  width: 100%;
  height: 18rem;
}

.project {
  padding: 10px;
  background-color: #F7C5CC;
}

.menuItem {
  background-color: #990011;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.content-wrapper {
  flex: 1;
}

.card {
  background-color: #FCF6F5;
}

.slick-prev:before,
.slick-next:before {
  color: black!important;
}

.carousel .carousel-item {
  height: 600px;
}

.carousel-item img {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    min-height: 600px;
}

.carousel-control-next,
.carousel-control-prev {
  filter: invert(100%);
  font-size: 200px;
}
